{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "首頁" %}
{% endblock %}

{% block content %}
    <h2>
        {% trans "歡迎來到餐廳餐點管理系統" %}
    </h2>

    {% if request.user.is_authenticated %}
        <a href="{% url 'restaurant_list' %}">
            {% trans "餐廳列表" %}
        </a>
    {% else %}
        <p>
            {% trans "您尚未登入喔～" %}

            <a href="{% url 'login' %}">
                {% trans "登入" %}
            </a>
        </p>

        <p>
            {% trans "若您還沒有帳號，請" %}

            <a href="{% url 'register' %}">
                {% trans "註冊" %}
            </a>
        </p>
    {% endif %}
{% endblock %}